body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: 500px;
    padding: 15px;
    border-radius: 15px;
}

.header .playerList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title, .markButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
    justify-items: center;
    height: auto;
}

.boxes {
    border: 1px solid black;
    width: 100%; 
    padding-top: 100%;
    box-sizing: border-box;
}

.desc {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.markButtons {
    display: flex;
    justify-content: space-around;
}